<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>招聘头条 - 关于我们</title>
<link rel="stylesheet" type="text/css" href="/static/css/disclaimer.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/about.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/footer.css"/>
<link rel="icon" href="images/logo_tiny.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
<script type="text/javascript" src="/static/js/jquery-1.91.js"></script>
<script type="text/javascript" src="/static/js/aboutus.js"></script>
<script type="text/javascript" src="/static/js/Chart.js"></script>
<script type="text/javascript" src="/static/js/misc.js"></script>
 <meta name="Description" content="招聘头条，职位搜索引擎，一站式搜索全网招聘职位，一站式比较全网高薪职位，一站式投递全网优质工作，一站式订阅全网意向职位，是一款基于大数据智能算法的求职神器。"/> 
<meta name="keywords" content="招聘头条,聪明你的求职,职位搜索引擎" />
</head>
<script type="text/javascript">
    $(function(){
        $(".userinfo").click(function(e){
            e.stopPropagation();
            $(".all-op").removeClass("hide");
        });

        $(document).click(function(){
            if(!$(".all-op").hasClass("hide")){
                $(".all-op").addClass("hide");
            }               
        });
    });
</script>
</head>
<body>
      <div class="logo" >
    <div class="header">
       
            <p><a href="/"><img src="/static/images/logo_5.png" id="header_logo" ></a>
             <span class="header-sm">发现好工作</span> 
              </p>
       
      </div>
        </div>
    <div class="content">
        <p class="title">关于招聘头条</p>
       <div class="main_two">
      <!--  <div class="left">
       <ul>
       <li style="background-color:#037458">关于我们</li>
       <li>大数据招聘管家</li>
       <li>大数据薪酬报告</li>
       <li>《中国企业招聘指数》</li>
       <li>《中国企业薪酬指数》</li>
       
       </ul>
       </div> -->
       <div class="right" style="width:100%">






<!-- 北京菜鸟无忧网络科技有限公司 -->
       <div class="one" style="display:block">
       <p class="shouhang">招聘头条，由中国人力资源管理业界先驱与代表性人物彭剑锋教授担任全职首席顾问，北京菜鸟无忧网络科技有限公司提供技术支撑，FESCO（北京外企人力资源服务有限公司）为全面战略合作伙伴，华夏基石管理咨询集团提供专业支持，并与中国人力资源开发研究会，中国人民大学劳动人事学院、中国人民大学商学院全力合作，汇集数百家大型企事业单位人力资源专业人员，契合“互联网+人力资源服务”产业趋势，以“人力资源大数据”为核心，致力于通过具有自主知识产权的互联网技术，打造中国最具公信力的人力资源大数据服务商。</p>
      
       </div>



       <div class="one"  >
         <p class="font" >
            关于大数据招聘管家
        </p>
       
        <p class="sm-con">
          招聘头条，国内顶级的大数据招聘管家，为企业提供一站式招聘管家服务和人岗智能匹配服务，是目前国内招聘领域最专业的智能信息化服务平台。
        </p>
        <p class="sm-con">
        招聘头条管家，便捷高效的招聘管理工具，专注于为企业提供高效的一站式招聘管家服务，并通过MAS大数据分析系统为企业提供精准的人岗匹配和人才推荐服务，用最经济的成本便捷地寻找合适的候选人，使招聘变得省时、省事、省心。
        </p>
           <p class="sm-con" style="font-size:17px;font-weight:bold">
           我们的优势：
           </p>
           <p class="sm-con" style="color:#029774;font-weight:bold">
          1.高效
        </p>
  <p class="sm-con">
        省去众多招聘网站职位管理和简历管理的麻烦，职位发布和管理工作量减少87%，简历收取和阅读工作量减少72%，面试失败率降低65%，招聘周期缩短36%；
        </p>
  <p class="sm-con" style="color:#029774;font-weight:bold">
         2. 省心
        </p>
  <p class="sm-con">
       通过MAS大数据智能分析引擎的精准匹配和人才推荐，有效减轻HR在招聘事务上的工作量，确保良好的招聘效果；
        </p>
          <p class="sm-con" style="color:#029774;font-weight:bold">
          3. 低成本
        </p>
  <p class="sm-con">
        基于互联网云计算的人力资源SaaS平台，招聘成本比传统招聘网站低50%以上。
        </p>
       </div>



       <div class="one" >
          <p class="font" >
            关于大数据薪酬报告
        </p>
        <p class="sm-con">
         菜鸟薪酬，选取当前国内市场2298家招聘网站职位薪酬数据和简历薪酬数据作为数据来源，日均新增超过400,000条职位薪酬信息，50,000条企业信息，遍布463个城市、涵盖14个行业大类、69个行业小类，通过具备自主知识产权的大数据智能分析引擎（Matching Anchor System）进行计算和分析，全面、实时、系统反映当前劳动力市场薪酬现状与发展趋势，为企业薪酬战略实施与调整提供决策数据。
        </p>
        <p class="sm-con">
        企业HR可实时查阅当前劳动力市场上不同职位、不同行业、不同地区的薪酬数据，并在线生成薪酬报告，规避了传统基于调研薪酬报告数据量不足、数据滞后性、人工统计偏差性、数据口径模糊性等缺陷，具有实时性、全面性、精准性，是一种新型的薪酬报告生产方式，很好地弥补了传统薪酬报告的不足。
        </p>
         <p class="sm-con" style="font-size:17px;font-weight:bold">
           主要服务产品：
           </p>
             <p class="sm-con" style="color:#029774;font-weight:bold">
          1.《月度全国劳动力市场薪酬内参》；
        </p>
          <p class="sm-con" style="color:#029774;font-weight:bold">
       2.《月度行业薪酬内参》；
        </p>
          <p class="sm-con" style="color:#029774;font-weight:bold">
         3.《月度地区薪酬内参》；
        </p>
          <p class="sm-con" style="color:#029774;font-weight:bold">
        4.《企业职位大数据薪酬报告》
        </p>
       </div>





        <div class="one" >
  <p class="font" > 中国企业招聘指数 </p>
        <p class="sm-con">
          中国企业招聘指数，英文全称China Hiring Index，简称为CHI，是系统反映当前劳动力市场企业招聘状况、预测未来劳动力市场招聘变化趋势的指数和风向标，它从劳动力需求侧反映当前劳动力市场招聘的整体性、结构化现状与变动趋势，为企业招聘策略调整与实施、为政府、社会全面了解劳动力市场招聘状况和企业经济运行态势提供数据支撑与参考。
        <p class="sm-con">
           中国企业招聘指数（CHI），数据来源于当前国内市场2300余家招聘服务商，综合分析网站规模、Alexa排名、数据有效性等因素，从中选取了100 家互联网渠道每日更新内容数据，全面、系统、实时、动态地监测TOP100网站的招聘动态，在充分考虑行业分布、地域差别、企业性质、企业规模、职能类别、岗位层级、从业人员数量、市场影响力等因素的基础上，通过结构化数据处理，大数据分析、建模以及专家访谈咨询，选取了企业招聘职位指数（EPI）和中国企业薪酬指数（CSI）作为衡量中国企业招聘指数（CHI）的两个维度来反映当月企业招聘的全景。 
        </p>
        <p class="sm-con">
            在中国企业招聘指数（CHI）的编制过程中，选取2015年11月为基期，基期指数规定为1000点，选用能反映劳动力市场上绝大多数职位情况的200个样本职位，采用派许加权的方法进行指数编制，公式为
        </p>
        <p style="text-align:center;"><img src="/static/images/ergi.png"  /></p>
        <!-- <p class="sm-con" style="text-indent:27px; margin-top:25px;"><img src="/static/images/ergi_shuoming.png" width="592" height="23" /></p> -->
        <p class="sm-con">其中，P_t、P_(t-1)、S_t、S_(t-1)为相应报告期和基期的样本职位数据和薪酬水平，w_i、w_j为其相应的权重。</p>
        <p class="sm-con">指数编制详细信息和维护规则，请见<a href="pdf/company_findjob_zhishu_rule.pdf" target="_blank">《中国企业招聘指数计算与维护细则》</a></p>

          
        </div>









        <div class="one" >
         <p class="font" >
            中国企业薪酬指数
        </p>
        <p class="sm-con">
            中国企业薪酬指数，英文全称China Salary Index，简称为CSI，是系统反映当前劳动力市场结构化薪酬现状、反映当前劳动力市场企业用工成本、预测未来劳动力市场薪酬变化趋势的指数和有效风向标，它从企业外部薪酬视角系统分析当前劳动力市场整体性、结构化薪酬现状与变动趋势，为企业薪酬战略调整与实施、为政府、社会全面了解劳动力市场薪酬状况和企业经济运行态势提供数据支撑与参考。

        </p>
        <p class="sm-con">
            中国企业薪酬指数（CSI），数据来源于当前国内市场2300余家招聘服务商，综合分析网站规模、Alexa排名、数据有效性等因素，从中选取了100 家互联网渠道每日更新内容数据，全面、系统、实时、动态地监测TOP100网站的招聘动态，在充分考虑行业分布、地域差别、企业性质、企业规模、职能类别、岗位层级、从业人员数量、市场影响力等因素的基础上，通过结构化数据处理，大数据分析、建模以及专家访谈咨询，按照职位职能以及职位级别，反映当月的企业薪酬全景。 
        </p>
        <p class="sm-con">
            在中国企业薪酬指数（CSI）的编制过程中，选取2015年11月为基期，基期指数规定为1000点，选用能反映劳动力市场上绝大多数职位情况的200个样本职位，采用派许加权的方法进行指数编制，公式为
        </p>
        <p style="text-align:center;"><img src="/static/images/esgi.png"  /></p>
        <!-- <p class="sm-con" style="text-indent:0; margin-top:15px;"><img src="/static/images/esgi_shuoming.png" width="616" height="29" /></p> -->
        <p class="sm-con">其中， S_t、S_(t-1)为根据职位职能和岗位层级加成的相应报告期和基期的样本职位平均薪酬水平。</p>
        <p class="sm-con">指数编制详细信息和维护规则，请见<a href="pdf/company_salary_zhishu_rule.pdf" target="_blank">《中国企业薪酬指数计算与维护细则》</a></p>
       </div>



    
    </div>  
    </div>
    </div>

       <script type="text/javascript">
        
        if(phone !="")
        {
            $(".detail_con").show();
            $("#logoin_first").hide();
            $(".no_login ul").css("right","235px");
            //$(".login_one").hide();
        }
        else
        {
            $(".detail_con").hide();
            $("#logoin_first").show();
            $(".no_login ul").css("right","20px");
            //$(".login_one").show();
        }

    </script>
     {% include "candidate_tpl/footer.html" %}
     <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258314713'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258314713%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>