
<div class="logo_header" style="background-color:#029774;">

 <div class="logo">
		<div class="header">
           <p><a href="/"><img src="/static/images/logo_5.png" id="header_logo"  ></a><span class="header-sm" style="left:8px;">发现好工作</span>
              </p>
            
            
            
			</div>
        </div>
</div>
<div style="width:100%;">
<div class="navi_con">

	<div class="navi_bar" style="overflow-y: auto;overflow-x: hidden;width: 181px;height:100%;">
		<ul>
		<li  class="li_hover" ></li>
		<li id="show-up"><a  class="li_hover"><img src="/static/images/suoxiao.png" id="x_image"><span class="hide-up" style="font-size:12px">点击收起菜单</span></a></li>
			<!-- <li><a id="cur" class="li_hover" target="_self" href="hr_index.htm" style="margin-top:7px"><img src="/static/images/home.png" alt="首页" title="首页"><span class="hide-up" style="font-size:14px">首页</span></a></li> -->
			<!-- <li style="margin-top:9px"><a id="source" class="li_hover" target="_self" href="binding.htm"><img src="/static/images/list3.png" alt="招聘账号绑定" title="招聘账号绑定"><span style="font-size:14px" class="hide-up">招聘账号绑定</span></a></li> -->
			<!-- <li><a id="posit" class="li_hover" target="_self" href="joblist.htm"><img src="/static/images/list1.jpg"><span style="font-size:14px" class="hide-up">职位列表</span></a></li>
			<li><a id="posit" class="li_hover" target="_self" href="newjoblist.htm"><img src="/static/images/list1.jpg"><span style="font-size:14px" class="hide-up">新增职位列表</span></a></li> -->


<li style="margin-top: 10px;cursor: pointer"><a id="li_tuijian" href="/joblist" class="li_hover" target="_self"><img src="/static/images/select.png" alt="一站搜索" title="一站搜索"><span style="font-size:14px;" class="hide-up">一站搜索</span></a>
             
<!-- <ul class="ul_last_li" id="count_ul4" style="display:none"> -->
<!-- <li><a href="tjlist.htm?ko=count_ul4" target="_self"><span class="hide-up" style="font-size:12px;">人才列表</span></a></li> -->
			<!-- <li><a href="reslike.htm?ko=count_ul4" target="_self"><span class="hide-up" style="font-size:12px;">感兴趣的人才</span></a></li> -->
			<!-- </ul> -->
			</li>
				<!-- <li style="margin-top: 10px;"><a id="source" class="li_hover" target="_self" href="reslike.htm"><img src="/static/images/gxq.png"  alt="感兴趣的人才" title="感兴趣的人才"><span style="font-size:14px;" class="hide-up">感兴趣的简历</span></a></li> -->
				<li class="li_hover" style="margin-top:10px;cursor: pointer;height:auto"><a id="li_tuijian2" href="/" target="_self"><img src="/static/images/compare.png?v=1" alt="一站比薪" title="一站比薪"><span class="hide-up" style="font-size:14px">一站比薪</span></a>	</li>
			<li class="li_hover" style="margin-top:10px;cursor: pointer;height:auto"><a id="li_tuijian2" href="/subscribe" target="_self"><img src="/static/images/list1.jpg" alt="一站订阅" title="一站订阅"><span class="hide-up" style="font-size:14px">一站订阅</span></a>	</li> 
		
			<li class="li_hover" style="margin-top:10px;cursor: pointer;height:auto"><a id="li_tuijian2" href="/collect_job_list" target="_self"><img src="/static/images/gxq.png" alt="感兴趣的职位" title="感兴趣的职位"><span class="hide-up" style="font-size:14px">感兴趣的职位</span></a>	</li>
				<li class="li_hover" style="margin-top:10px;cursor: pointer;height:auto"><a id="li_tuijian2" href="/post_job_list" target="_self"><img src="/static/images/shouqu.png" alt="投递过的职位" title="投递过的职位"><span class="hide-up" style="font-size:14px">投递过的职位</span></a></li>
	<li class="li_hover" style="margin-top:10px;cursor: pointer;height:auto"><a id="li_tuijian2" href="/user_cv" target="_self"><img src="/static/images/man_one.jpg" alt="我的简历" title="我的简历"><span class="hide-up" style="font-size:14px">我的简历</span></a>	</li>
			<!-- <ul class="ul_last_li2" id="count_ul3" style="display:none"> -->
			
					<!-- <li><a href="reclist.htm?ko=count_ul3" target="_self"><span class="hide-up2" style="font-size:10px">推荐简历列表</span></a></li> -->
					<!-- <li><a href="joblist.htm?ko=count_ul3" target="_self"><span class="hide-up2" style="font-size:12px">原有职位列表<sapn id="job_you_num">(0)</sapn></span></a></li> -->
					<!-- <li><a href="newjoblist.htm?ko=count_ul3" target="_self"><span class="hide-up2" style="font-size:12px">新增职位列表<sapn id="job_new_num">(0)</sapn></span></a></li> -->
					<!-- <li><a href="job_del.htm?ko=count_ul3" target="_self"><span class="hide-up2" style="font-size:12px">职位回收站<sapn id="job_del_num">(0)</sapn></span></a></li> -->

			<!-- </ul> -->
			</li>
			

		<!-- 	<li class="li_hover" style="cursor: pointer;margin-top:10px;height:auto"><a id="count2" ><img src="/static/images/shouqu.png" alt="我的简历" title="我的简历"><span class="hide-up" style="font-size:14px" >我的简历</span></a> -->
				<!-- <ul class="ul_last_li2" id="count_ul2" style="display:none">
			
					<li><a href="resumelist.htm?ko=count_ul2" target="_self"><span class="hide-up2" style="font-size:10px">已收简历列表</span></a></li> 
					<li><a href="resumelist.htm?ko=count_ul2" target="_self"><span class="hide-up2" style="font-size:12px">简历列表<sapn id="is_no">(0)</sapn></span></a></li>
					
					<li><a href="resumelist.htm?f=2&ko=count_ul2" target="_self"><span class="hide-up2" style="font-size:12px">简历回收站<sapn id="is_del">(0)</sapn></span></a></li>

					<li><a href="resumelist.htm?f=1&ko=count_ul2" target="_self"><span class="hide-up2" style="font-size:12px">已邀请面试<sapn id="is_al">(0)</sapn></span></a></li>
					<li><a href="resumelist.htm?f=3&ko=count_ul2" target="_self"><span class="hide-up2" style="font-size:12px">面试邀请反馈<sapn id="is_fkui2">(0)</sapn></span></a></li> 
				</ul> -->
			</li>
			

		<!-- 	<li class="li_hover" style="margin-top:10px;cursor: pointer;height:auto"><a id="li_tuijian" ><img src="/static/images/man_one.jpg"  alt="推荐简历管理" title="推荐简历管理"><span class="hide-up" style="font-size:14px">推荐简历管理</span></a>	
			<ul class="ul_last_li2" id="count_ul4" style="display:none">
	
					<li><a href="reclist.htm?ko=count_ul4" target="_self"><span class="hide-up2" style="font-size:12px">推荐简历列表<sapn id="is_none">(0)</sapn></span></a></li>
					<li><a href="reclist.htm?f=1&ko=count_ul4" target="_self"><span class="hide-up2" style="font-size:12px">感兴趣简历<sapn id="is_yes">(0)</sapn></span></a></li>
					<li><a href="reclist.htm?f=2&ko=count_ul4" target="_self"><span class="hide-up2" style="font-size:12px">简历回收站<sapn id="is_dele">(0)</sapn></span></a></li>
			</ul>
			</li> -->
			
			<!-- <li style="margin-top: 10px;"><a id="source" class="li_hover" target="_self" href="rili.htm"><img src="/static/images/rili.png"  alt="面试日历" title="面试日历"><span style="font-size:14px;" class="hide-up">面试日历</span></a></li> -->
			<li class="li_hover" style="margin-top:10px;height:auto;cursor:pointer;"><a id="count"><img src="/static/images/up.png" style="font-size:14px;" id="count_img" alt="账户管理" title="账户管理"><span class="hide-up" style="font-size:14px;"> 账户管理</span></a>
				<ul class="ul_last_li" id="count_ul" style="display:none">
			<!-- <li><a href="hr_index.htm?ko=count_ul" target="_self"><span class="hide-up" style="font-size:12px;">账户概览</span></a></li> -->
			<!-- <li><a href="binding.htm?ko=count_ul" target="_self"><span class="hide-up" style="font-size:12px;">招聘账号绑定</span></a></li> -->
					<!-- <li><a href="chargecenter.htm?ko=count_ul" target="_self"><span class="hide-up" style="font-size:12px;">费用中心</span></a></li> -->
					<!-- <li><a href="income.htm?ko=count_ul" target="_self"><span class="hide-up" style="font-size:12px">收支明细</span></a></li> -->
					
					<!--
					<li><a href="apply.htm" target="_self"><span class="hide-up" style="font-size:10px">申请发票</span></a></li>
					-->
					
					<li><a href="/change_password" target="_self"><span class="hide-up" style="font-size:12px">修改密码</span></a></li>
				
					<!-- <li><a href="sharerule.htm?ko=count_ul" target="_blank"><span class="hide-up" style="font-size:12px">简历共享规则</span></a></li> -->
				</ul>
			</li>
			<!-- 	<li class="li_hover" style="cursor: pointer;margin-top:10px;height:auto"><a href="help.htm" target="_blank"><img src="/static/images/help.png"  alt="使用说明" title="使用说明"><span class="hide-up" style="font-size:14px">使用说明
				</span></a>
				</li> -->
		<!-- </ul> -->
	
	</div>
</div>	



