<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>招聘头条 - 联系我们</title>
  <link rel="icon" href="images/logo_tiny.png" type="image/x-icon">
	<link rel="stylesheet" href="/static/css/contactus.css">
		<link rel="stylesheet" href="/static/css/disclaimer.css">
	<link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
  <meta name="Description" content="招聘头条，职位搜索引擎，一站式搜索全网招聘职位，一站式比较全网高薪职位，一站式投递全网优质工作，一站式订阅全网意向职位，是一款基于大数据智能算法的求职神器。"/> 
<meta name="keywords" content="招聘头条,聪明你的求职,职位搜索引擎" />

  
</head>
<body>
 <div class="logo" >
    <div class="header">
       
            <p><a href="/"><img src="/static/images/logo_5.png" id="header_logo"  ></a>
             <span class="header-sm">发现好工作</span> 
              </p>
       
      </div>
        </div>
      <div class="excheng">
      <div class="bg_logo"></div>
      <div class="datails">

       <h4 class="huaxia">北京菜鸟无忧网络科技有限公司</h4>
       <h4 >华夏基石管理咨询集团HRIndex数据中心</h4>
         <!-- <h4></h4> -->
         <!-- <h4></h4> -->
       <!-- <h4>宁夏猎人网络科技有限公司</h4> -->
        <p>总部地址：北京海淀区丹棱街中国电子大厦19层1910 </p>
        <p>分部地址：北京海淀区马甸南路七省驻京办大院6层 </p>
        <!-- <p>分部地址：宁夏银川市兴庆区北京东路165号 </p> -->
            <!-- <p>总部地址：银川市兴庆区北京东路165号</p> -->
        <p>联系电话：010-58752750 </p>
        <p>邮 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：bd@zhaopincat.com </p>
        <p>网 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：www.zhaopincat.com</p>
      </div>
        </div>
        {% include "candidate_tpl/footer.html" %}
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258314713'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258314713%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>