<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>招聘头条 - 权利声明</title>
<link rel="icon" href="images/logo_tiny.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/css/disclaimer.css?v=2015121019"/>
<link rel="stylesheet" type="text/css" href="/static/css/header.css?v=2015121019"/>
<script type="text/javascript" src="/static/js/jquery-1.91.js"></script>
<script type="text/javascript" src="/static/js/Chart.js"></script>
<script type="text/javascript" src="/static/js/misc.js?v=2015121019"></script>
  <meta name="Description" content="招聘头条，职位搜索引擎，一站式搜索全网招聘职位，一站式比较全网高薪职位，一站式投递全网优质工作，一站式订阅全网意向职位，是一款基于大数据智能算法的求职神器。"/> 
<meta name="keywords" content="招聘头条,聪明你的求职,职位搜索引擎" />

<script type="text/javascript">
    $(function(){
        $(".userinfo").click(function(e){
            e.stopPropagation();
            $(".all-op").removeClass("hide");
        });

        $(document).click(function(){
            if(!$(".all-op").hasClass("hide")){
                $(".all-op").addClass("hide");
            }               
        });
    });
</script>
</head>

<body>
<a id="gotop" title="返回顶部"></a>
    <script>
        $("#gotop").click(function(){

            $('html,body').animate({ scrollTop:0}, 700);
        });
        $(window).scroll(function(){
            x=$(window).scrollTop();
            if(x>500)
            {
                $("#gotop").fadeIn();
            }
            else
            {
                $("#gotop").fadeOut();
            }
        });
    </script>
 <div class="logo" >
    <div class="header">
       
           <p><a href="/"><img src="/static/images/logo_5.png" id="header_logo"  ></a>
             <span class="header-sm">发现好工作</span> 
              </p>
       
      </div>
        </div>

    <div class="content">
        <p class="title">招聘头条权利保护声明</p>
        <p class="sm-con">
        	招聘头条为广大用户提供职位检索服务。根据用户本人键入的关键字、设定的条件，招聘头条的搜索引擎系统会以非人工检索方式自动生成到第三方网页的链接，以便用户能够找到和使用第三方网页上招聘企业、职位等内容。“招聘头条”自身不发布、存储、控制、编辑或修改被链接的第三方网页上登载、存储、编辑、显示被检索（包括但不限于以文字、图片等形式出现）的信息的内容或其表现形式。
    招聘头条一贯高度重视知识产权保护并遵守中国各项知识产权法律、法规和具有约束力的规范性文件。根据法律、法规和规范性文件要求，招聘头条制定了旨在保护权利人的合法权益的措施和步骤，当权利人发现在招聘头条生成的链接所指向的第三方网页的内容侵犯其合法权益时，权利人应向招聘头条发出“权利通知”，招聘头条将根据中国法律法规和政府规范性文件采取措施移除相关内容或屏蔽相关链接。
        </p>
        <p class="sm-con">
        	招聘头条一贯高度重视知识产权保护并遵守中国各项知识产权法律、法规和具有约束力的规范性文件。根据法律、法规和规范性文件要求，招聘头条制定了旨在保护权利人的合法权益的措施和步骤，当权利人发现在招聘头条生成的数据或链接所指向的第三方网页的内容侵犯其合法权益时，权利人应向招聘头条发出“权利通知”，招聘头条将根据中国法律法规和政府规范性文件采取措施移除相关内容或屏蔽相关链接。
        </p>
        <p class="sm-con">
        	具体措施和步骤如下:
        </p>
        <p class="sm-con">
        	1. 权利人对涉嫌侵权内容拥有商标权、著作权和/或其他依法可以行使权利的权属证明；
        </p>
        <p class="sm-con">
        	2. 请充分、明确地描述确信被侵犯了权利人合法权益的内容并请提供非法登载该作品的第三方网址；
        </p>
        <p class="sm-con">
        	3. 请指明涉嫌侵权网页的哪些内容侵犯了第2项中列明的权利人的合法权益；
        </p>
        <p class="sm-con">
        	4. 请提供权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件；
        </p>
        <p class="sm-con">
        	5. 请提供涉嫌侵权内容在信息网络上的位置（如指明您举报的含有侵权内容的出处，即：指网页地址或网页内的位置）以便我们与您举报的含有侵权内容的网页的所有权人/管理人联系；
        </p>
        <p class="sm-con">
            6. 请在权利通知中加入如下关于通知内容真实性的声明：
        </p>
        <p class="sm-con">
            （1）我本人为所投诉内容的合法权利人；
        </p>
        <p class="sm-con">
            （2）在我举报的第三方网页上登载的内容侵犯了本人相应的合法权益。
        </p>
        <p class="sm-con">
            （3）本人确认：如果本权利通知内容不完全属实，本人将承担由此产生的一切法律责任。
        </p>
        <p class="sm-con">
            7. 请在权利通知中加入以下陈述：“我保证，本通知中所述信息是充分、真实、准确的，我是所投诉内容的合法权利人，或，我已获授权，有权行使第2项中列明内容的权益。”
        </p>
        <p class="sm-con">
            8. 请您签署该文件，如果您是依法成立的机构或组织，请您加盖公章。
        </p>
        <p class="sm-con" style="font-weight:bold; font-size:16px;">
            反通知
        </p>
        <p class="sm-con">
            招聘头条根据前述通知移除相关内容、数据或链接的，被移除内容的内容提供者或被移除链接的网站的所有权人/管理人可以依法向招聘头条发出关于被移除内容、数据等不侵犯著作权或其他合法权益的反通知。反通知发出后，招聘头条可以恢复被移除的内容或链接，且依法对该恢复行为不承担法律责任。
        </p>
        <p class="sm-con">
            请注意：如果您“反通知”的陈述失实，您将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。如果您不确定网络上可获取的资料是否侵犯了他人的权利，招聘头条建议您首先咨询专业人士。
        </p>
        <p class="sm-con">
            请您务必以书面（邮寄信件）的通讯方式向我们提交“反通知”，请使用以下格式：
        </p>
        <p class="sm-con">
            1. 请指明被招聘头条移除的信息、数据或内容及其网址；
        </p>
        <p class="sm-con">
            2. 被移除内容的合法性证明，包括但不限于您对已移除的内容拥有著作权或其他合法权益的权属证明或您可以合法使用该作品或该内容的证明；
        <p class="sm-con">
            3. 请提供具体的联络信息， 包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件；
        </p>
        <p class="sm-con">
            4. 请在反通知中加入如下关于反通知内容真实性的声明：
        </p>
        <p class="sm-con">
            （1）我本人为该作品/该内容的合法权利人；
        </p>
        <p class="sm-con">
            （2）我有权或已获授权提供或刊登上述被移除的信息或内容。
        </p>
        <p class="sm-con">
            （3）本人确认：如果本“反通知”内容不完全属实，本人将承担由此产生的一切法律责任。
        </p>
        <p class="sm-con">
            5. 请在反通知中加入以下陈述：“我保证，本反通知中所述信息是充分、真实、准确的，我是该作品/该内容的合法权利人，或我已获授权或依法可以使用第2项中列明作品/内容。”
        </p>
        <p class="sm-con">
            6. 请您签署该文件，如果您是依法成立的机构或组织，请您加盖公章。
        </p>
    </div>  
 {% include "candidate_tpl/footer.html" %}
 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258314713'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258314713%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>