<!DOCTYPE html>
<html lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>招聘头条 - 忘记密码</title>
<link rel="icon" href="/static/images/logo_tiny.png?v=2015121019" type="image/x-icon">
    <script type="text/javascript" src="/static/js/jquery-1.91.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/fget_pass.css?v=2015121609">
    <link rel="stylesheet" href="/static/css/header.css?v=2015121019"/>
      <link rel="stylesheet" href="/static/css/index.css?v=2015121019"/>
    <script type="text/javascript" src="/static/js/login.js"></script>
  <script src="/static/js/layer/layer.js"></script>
   <meta name="Description" content="招聘头条，职位搜索引擎，一站式搜索全网招聘职位，一站式比较全网高薪职位，一站式投递全网优质工作，一站式订阅全网意向职位，是一款基于大数据智能算法的求职神器。"/> 
<meta name="keywords" content="招聘头条,聪明你的求职,职位搜索引擎" />
<script>
window.onload = function()
{
    document.getElementById("email").focus();
}
$(function(){
    $("input").focus(function(){
        $(this).css("border","1px solid #029774")
    })
    $("input").blur(function(){
        $(this).css("border","1px solid #ccc")
    })
})
</script>
</head>
<body>
<div class="body_con">
<div class="logo_con">
      <div class="logo">
        <div class="header">
           <p><a href="/"><img src="/static/images/logo_5.png" id="header_logo"  ></a>
             <span class="header-sm">发现好工作</span> 
              </p>
             <div class="no_login">
              <ul>
              <li class="logoin_first"><a href="/login" target="_blank">登录</a>
              </li>
               <li class="logoin_first"><a href="/register" target="_blank">注册</a>
              </li>
              </ul>
           
            </div>   
         
            </div>
        </div>
</div>
<div class="detail_middle">
        <h1>忘记密码</h1>
        <div class="sign_box clearfix">
                <div class="sign_left">
                  <!-- 绑定邮箱 -->
                   <!--  <form id="Form1" name="Form1" method="post"  style="display: block;"> -->
                        <div class="sign_form">
                            <ul>
                                <li class="clearfix">
                                    <div class="w99"><span>*</span>手机号码：</div>
                                    <div class="input_box"><input type="text" name="email" id="email" placeholder="请输入手机号码" class="sign_up_input_mail" maxlength="60"></div>
                                    <div class="item-tip"></div>
                                    <div class="clear"></div>
                                </li>
                                <li class="clearfix"  id="login_in">
                                    <div class="w99" ><span>*</span>短信验证码：</div>
                                    <div class="input_box">
                                        <div id="imgdiv"></div>
                                        <input class="sign_up_input_varcode" width="20px" name="verify" id="postcaptcha" type="text" placeholder="请输入获取的短信验证码" errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5" style="color:#999999" >
                                       <button class="get_yz" id="get_password_code">获取验证码</button>
                                       <!-- <button class="get_yz modify">重发验证码(<span>60</span>s)</button> -->
                                    </div>
                                    <div class="item-tip"></div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div class="w99">&nbsp;</div>
                                    <div class="input_box">
                                        <input type="button" value="提交" class="sign_up_but_sign">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- </form> -->
                        <!-- 成功 -->
                        <div class="success_email" style="display: none;">已经成功发送邮件，请登录邮箱修改密码！</div>
                    </div>
                    <!-- 注册表单 结束 -->
    
                    <div class="sign_right">
                        <div class="fast_login" style="border:0;">
                            <p class="title">您还没有招聘头条账号？</p>
                            <div><input type="button" value="马上注册" class="sign_up_but_login" onclick="window.location=&#39;/register&#39;">
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                      <div style="width:100%;text-align:center">
                    <ul class="sign_shuoming">
                        <li>如需任何帮助，请咨询招聘头条网客户服务部  电话：010-58752828-819/15311999904，QQ：83663131  邮箱：zhaopincat@163.com  其它问题请及时反馈给我们。</li>
                    </ul>
                </div>  
                </div>
                            
            </div>
        </div>
    



<script type="text/javascript">
$(function(){
    $(".verifyimg").click(function(){
        $(this).attr("src",'/checkcode?r=' + Math.random());
    })
    $(".sign_up_but_sign").click(function(){
        var email = $.trim($("#email").val());
        var postcaptcha = $.trim($("#postcaptcha").val());

        if(email == ""){
            //alert('手机号不能为空！');
            layer.alert('手机号不能为空！', {
                     title: '提示',
            })
            return false;
        }
        if(postcaptcha == ""){
            //alert('验证码不能为空！');
            layer.alert('验证码不能为空！', {
                     title: '提示',
            })
            return false;
        }

        //var pattern = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;  
        var pattern = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1})|(14[0-9]{1}))+\d{8})$/;  
        if (!pattern.test(email)) {
           // alert("手机格式不正确！");
           layer.alert('手机格式不正确！', {
                     title: '提示',
                })
            return false;
        }
        $.ajax({
            type:'post',
            url: "/api_forget_password",
            data: JSON.stringify({phonenum:email,verify_code:postcaptcha}),
            contentType:"application/json; charset=utf-8",
            dataType: 'json',
            success: function(data){
              var errcode = data['errcode']
                if(errcode==1){
                    //alert('验证码不正确！');
                    layer.alert('用户不存在！', {
                     title: '提示',
                })
                 }else if(errcode == 2 || errcode == 3){
                    //alert('不存在此账户！');
                    layer.alert('验证码错误！', {
                     title: '提示',
                })
                 }else if (errcode == 0) 
                 {
                     window.location.href="/reset_password?hex="+data['data'];
                 }
               
            },
            error:function(){   
                alert('error');   
            }
            
        });
    })
})

</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258314713'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258314713%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body></html>
