
<!DOCTYPE html>
<html lang="zh"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title>招聘猫 - 修改密码成功</title>
    <link rel="icon" href="images/logo_tiny.png" type="image/x-icon">
    <link href="css/hr_manage.css?v=2015121019" rel="stylesheet" type="text/css">
        <link href="css/header.css?v=2015121019" rel="stylesheet" type="text/css">
         <link href="css/change_pass.css?v=2015121019" rel="stylesheet" type="text/css">
  
     <script type="text/javascript" src="js/jquery-1.91.js"></script>
    <script type="text/javascript" src="js/manage.js?v=2015121019"></script>
      <script type="text/javascript" src="js/hr_passwd.js?v=2015121019"></script>
   <meta name="Description" content="招聘猫，职位搜索引擎，一站式搜索全网招聘职位，一站式比较全网高薪职位，一站式投递全网优质工作，一站式订阅全网意向职位，是一款基于大数据智能算法的求职神器。"/> 
<meta name="keywords" content="招聘猫,聪明你的求职,职位搜索引擎" />
    <style>
    	#back:hover{text-decoration: underline;}
    </style>
</head>
<body>
<div class="body_con">
 {% include "candidate_tpl/common.html"%}
<div class="detail_con">
<span id="cainiao_welcome">[.phone]<p class="jiantou"><img src="images/down.png"></p></span>
<ul class="all-op">
<li class="exit">
<a href="quit.htm">退出</a>
</li>
</ul>
     <div style="width:100%;border:1px solid #fff;">
     <div style="width:600px;margin:150px auto;color:gray;">
         <p><img src="images/dui.png" width="50" height="50"><span style="position:relative;left:10px;top:-15px;font-size:25px;">修改密码成功,下次登录时请使用新密码登录</span></p>
      <a href="/"><p style="color:blue;margin-top:30px;margin-left:60px;font-size:16px;"  id="back">返回首页</p></a>
     </div>
	</div>
	
</div>
</div>
</body>
</html>