<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>招聘头条-隐私保护</title>
<link rel="icon" href="images/logo_tiny.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/css/disclaimer.css?v=2015121019"/>
<link rel="stylesheet" type="text/css" href="/static/css/header.css?v=2015121019"/>
<script type="text/javascript" src="/static/js/jquery-1.91.js"></script>
<script type="text/javascript" src="/static/js/Chart.js"></script>
<script type="text/javascript" src="/static/js/misc.js?v=2015121019"></script>
  <meta name="Description" content="招聘头条，职位搜索引擎，一站式搜索全网招聘职位，一站式比较全网高薪职位，一站式投递全网优质工作，一站式订阅全网意向职位，是一款基于大数据智能算法的求职神器。"/> 
<meta name="keywords" content="招聘头条,聪明你的求职,职位搜索引擎" />

    
<script type="text/javascript">
    $(function(){
        $(".userinfo").click(function(e){
            e.stopPropagation();
            $(".all-op").removeClass("hide");
        });

        $(document).click(function(){
            if(!$(".all-op").hasClass("hide")){
                $(".all-op").addClass("hide");
            }               
        });
    });
</script>
</head>

<body>
 <a id="gotop" title="返回顶部"></a>
    <script>
        $("#gotop").click(function(){

            $('html,body').animate({ scrollTop:0}, 700);
        });
        $(window).scroll(function(){
            x=$(window).scrollTop();
            if(x>500)
            {
                $("#gotop").fadeIn();
            }
            else
            {
                $("#gotop").fadeOut();
            }
        });
    </script>
    <div class="logo" >
    <div class="header">
       
           <p><a href="/"><img src="/static/images/logo_5.png" id="header_logo"  ></a>
             <span class="header-sm">发现好工作</span> 
              </p>
       
      </div>
        </div>
    <div class="content">
        <p class="title">隐私保护</p>
        <p class="sm-con" style="font-weight:bold; font-size:16px;">
        	隐私权是您的重要权利!
        </p>
        <p class="sm-con">
        	向我们提供您的信息是基于对我们的信任，相信我们会负责的态度对待您的信息。我们认为您提供的信息只能用于帮助我们为您提供更好的服务。因此，我们制定了招聘头条网站上信息保密制度以保护您的企业和个人信息。我们的信息保密制度摘要如下： 
        </p>
        <p class="sm-con" style="font-weight:bold; font-size:16px;">
        	一、我们收集哪类企业和个人信息？
        </p>
        <p class="sm-con">
        	通常，您能在匿名的状态下访问我们的网站并获取信息。在我们请求您提供有关信息之前，我们会解释这些信息的用途我们有些站点需要注册才能加入。在通常情况下，这类注册只要求您提供一个电子邮件地址和一些诸如您的工作，职务一类的基本信息或者您企业的规模、性质、行业等信息，有时我们也会请您提供更多的信息。我们这样做是为了使我们更好的理解您的需求，以便向您提供有效的服务。我们站点收集的信息包括姓名，地址和电话号码。您有权随时决定不接受来自我们的任何资料。
        </p>
        <p class="sm-con" style="font-weight:bold; font-size:16px;">
        	二、保护您的隐私
        </p>
        <p class="sm-con">
        	我们将采取适当的步骤保护您的隐私。每当您提供给我们敏感信息时，我们将采取合理的步骤保护您的敏感信息，我们也将采取合理的安全手段保护已存储的企业和个人信息。除非根据法律或政府的强制性规定，在未得到您的许可之前，我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。但是，如果您要求我们提供特定客户支援服务或把一些物品送交给您，我们则需要把您的姓名和地址提供给第三者如运输公司。我们的网站将会提供第三者网站的链接。由于我们不能控制这些网站，所以我们建议您细阅这些第三者网站的信息保密制度。
        </p>
        <p class="sm-con" style="font-weight:bold; font-size:16px;">
        	三、隐私权原则
        </p>
        <p class="sm-con">
        	由于您的隐私权对我们而言是相当重要的，因此，公布这份隐私权声明的招聘头条会根据下列五项原则管理涉及隐私的信息。
        </p>
        <p class="sm-con">
            原则1：
        </p>
        <p class="sm-con">
            每当招聘头条需要识别您的身份或与您联络时，会明确的询问所需的资料，即企业或个人资料。一般而言，当您在网站上注册，要求提供特别服务，或是如参加奖金竞赛，便会被询问到这项资料。可能的话，招聘头条会利用一些方法，确认您的企业或个人资料的正确性与时效性。
        </p>
        <p class="sm-con">
            原则2：
        </p>
        <p class="sm-con">
           招聘头条及其必要的服务伙伴使用您的企业或个人资料来运作网站和服务，并且会通知您各项新的功能与服务，以及招聘头条和其附属公司的各类产品。招聘头条也会谨慎地挑选来自其他公司的产品或服务资料传送给您，通常是有关于站点本身的服务，但对作业并非必要（次要用途）。
        </p>
        <p class="sm-con">
            原则3：
        </p>
        <p class="sm-con">
            如果招聘头条想要将企业或个人资料用在次要用途上，招聘头条会提供您如何拒绝这项服务的说明。您可以依照招聘头条寄给您的资料或促销信件上的说明，终止这些信件的发送。
        </p>
        <p class="sm-con">
            原则4：
        </p>
        <p class="sm-con">
            招聘头条也许会因法律要求公开企业或个人资料，或者因善意确信这样的作法对于下列各项有其必要性：
        </p>
        <p class="sm-con">
           （1）符合法律公告或遵守适用于招聘网站点的合法程序；
        </p>
        <p class="sm-con">
            （2）保护招聘头条的用户之权利或财产；
        </p>
        <p class="sm-con">
            （3）在紧急的情况下，为了保护招聘头条及其用户之个人或公众安全。
        </p>
        <p class="sm-con">
            原则5：
        </p>
        <p class="sm-con">
            任何时候如果您认为招聘头条没有遵守这些原则时，请利用电子邮件info@cnsalary.com 通知我们，我们会尽一切努力，请合理适当的范围内立即改善这个问题。
        </p>
        <p class="sm-con" style="font-weight:bold; font-size:16px;">
            四、如何更新您已经提供给招聘头条的企业或个人信息
        </p>
        <p class="sm-con">
            招聘头条欢迎您对这项保密制度给予评论并提出质疑。我们将致力于保护您的企业和个人信息，尽全力保证这些信息的安全。由于网上技术的发展突飞猛进，我们会随时更新我们的信息保密制度。所有的修订将在此站点公布。请将与本声明有关的所有评论和质疑发往info@cnsalary.com。
        </p>
    </div>  

       {% include "candidate_tpl/footer.html" %}
       <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258314713'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258314713%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body>