<!DOCTYPE html>
<html lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>招聘头条 - 修改密码</title>
<link rel="icon" href="/static/images/logo_tiny.png?v=2015121019" type="image/x-icon">
    <script type="text/javascript" src="/static/js/jquery-1.91.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/fget_pass.css?v=2015121019">
    <link rel="stylesheet" href="/static/css/header.css?v=2015121019"/>
      <link rel="stylesheet" href="/static/css/index.css?v=2015121019"/>
   <meta name="Description" content="招聘头条，职位搜索引擎，一站式搜索全网招聘职位，一站式比较全网高薪职位，一站式投递全网优质工作，一站式订阅全网意向职位，是一款基于大数据智能算法的求职神器。"/> 
<meta name="keywords" content="招聘头条,聪明你的求职,职位搜索引擎" />
</head>
<body>
<div class="body_con">
<div class="logo_con">
         <div class="logo">
        <div class="header">
           <p><a href="/"><img src="/static/images/logo_5.png" id="header_logo"  ></a>
             <span class="header-sm">发现好工作</span> 
              </p>
             <div class="no_login">
              <ul>
              <li class="logoin_first"><a href="/login" target="_blank">登录</a>
              </li>
               <li class="logoin_first"><a href="/register" target="_blank">注册</a>
              </li>
              </ul>
           
            </div>   
         
            </div>
        </div>
</div>
<div class="detail_middle">
        <h1>忘记密码</h1>
        <div class="sign_box clearfix">
                <div class="sign_left">
                    <form id="Form1" name="Form1" method="post" action="#" onsubmit="return check_pwd()">
                        <div class="sign_form">
                            <ul>
                              <li class="clearfix">
                                    <div class="w99"><span>*</span>新密码：</div>
                                    <div class="input_box"><input type="password" name="password" id="pwd" class="sign_up_input_mail" maxlength="60"></div>
                                    <div class="item-tip"></div>
                                    <div class="clear"></div>
                                </li>
                                 <li class="clearfix">
                                    <div class="w99"><span>*</span>确认密码：</div>
                                    <div class="input_box"><input type="password" name="confirm_pwd" id="repwd" class="sign_up_input_mail" maxlength="60"></div>
                                    <div class="item-tip"></div>
                                    <div class="clear"></div>
                                </li>
                                <input type="hidden" name="hex" value="{{hex}}">
                                <li>
                                    <div class="w99">&nbsp;</div>
                                    <div class="input_box">
                                        <input type="submit" id="Submit" value="提交" class="sign_up_but_sign" style="margin-top:30px;">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        </form>
                    </div>
                    <!-- 注册表单 结束 -->
    
                    <div class="sign_right">
                        <div class="fast_login" style="border:0;">
                            <p class="title">您还没有招聘头条账号？</p>
                            <div><input type="button" value="马上注册" class="sign_up_but_login" onclick="window.location=&#39;register.htm&#39;">
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div style="width:100%;text-align:center">
                    <ul class="sign_shuoming">
                        <li>如需任何帮助，请咨询招聘头条网客户服务部  电话：010-58752828-819/15311999904，QQ：83663131  邮箱：zhaopincat@163.com  其它问题请及时反馈给我们。</li>
                    </ul>
                </div> 
                </div>
                            
            </div>
        </div>
    



<script type="text/javascript">
$("#repwd").click(function(){
        var old_pass=$("#pwd").val();

        if(old_pass==""){

              layer.alert('请填写新密码！', {
              title: '提示',
              yes: function(e){
                layer.close(e)
                 $("#repwd").focus();
              }
             })
                  return false;     
       }
    })

 function check_pwd() {
    var pwd =  $.trim($("#pwd").val());
    var repwd = $.trim($("#repwd").val());
    if(pwd == "")
    {
        //alert("密码不能为空！");
         layer.alert('密码不能为空！', {
                     title: '提示',
                })
        return false;
    }
    if(pwd.length <6)
    {
       // alert("密码不能小于六位数！");
        layer.alert('密码不能小于六位数！', {
                     title: '提示',
                })
        return false;
    }

    if(pwd != repwd)
    {
        //alert("新密码和确认密码不一致！");
        layer.alert('新密码和确认密码不一致！', {
                     title: '提示',
                })
        return false;
    }
    return true;

 }
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258314713'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1258314713%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</body></html>