<!DOCTYPE html>
<html lang="zh"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title>招聘头条 - 账号管理列表，中国企业招聘指数（CHI），中国企业薪酬指数（CSI）</title>
<link rel="icon" href="/static/images/logo_tiny.png" type="image/x-icon">
    <link href="/static/css/hr_manage.css?v=2015121019" rel="stylesheet" type="text/css">
    <link href="/static/css/header.css?v=2015121019" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/myjoblist.css?v=2015121019">
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css?v=20151221">
    <script type="text/javascript" src="/static/js/jquery-1.91.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <script type="text/javascript" src="/static/js/admin_manage.js?v=2015121019"></script>
    <script type="text/javascript" src="/static/js/admin_addqy.js?v=20151221"></script>
   <meta name="Description" content="招聘头条，国内顶级的大数据招聘管家，中国企业招聘指数（CHI）与中国企业招聘指数(CSI)发布平台，由中国人力资源管理业界先驱与代表性人物彭剑锋教授担任领衔专家，为企业提供一站式招聘服务和人岗智能匹配服务，是目前国内最具公信力的人力资源大数据服务商。"/> 
<meta name="keywords" content="招聘头条,中国企业招聘指数,CHI,中国企业招聘指数,CSI" />
</head>

<body>
<div class="body_con">
{% include "admin_tpl/common.html" %}
<div class="detail_con">
<!-- UseTemplete@99999 size=1 param=-->
<span id="cainiao_welcome">{{ admin_email }}<p class="jiantou"><img src="/static/images/down.png"></p></span>
<!-- Wrap@99999 -->
<!-- Fill@99999 -->
<!-- Null@99999 -->
<!-- UseTemplete@99999; -->
<ul class="all-op">
<li class="exit">
<a href="/admin/logout">退出</a>
</li>
</ul>
  <style type="text/css">
  table tr td{height: 40px;}
  table tr td input{height: 28px;}
  </style>
	<div class="detail_middle">
		<h1>直投企业账号绑定</h1>
        <div style="width:1048px;">
        <h2 style="color: red">注意：填写完邮箱一定要 进行检测</h2>
        <form action="#" method="post" onsubmit="return hradd_form()">
            <table border="0" width="100%">
                <!-- <tr>
                    <td>直投企业：</td>
                    <td><input value="1" name="direct" readonly="readonly"></td>
                </tr> -->
                <tr>
                    <td>公司名称：</td>
                    <td><input value="" name="company_name" size="50"><span class="company_name_tip"></td>
                </tr>
                <tr>
                    <td>邮箱（用做登录账号）：</td>
                    <td><input value="" name="company_email" size="30" rel="0"><a class="email_check" style="cursor: pointer;">检测</a>
                    <br/><span class="email_tip" style="color: red"></span></td>
                </tr>
                 <tr>
                    <td>公司联系人：</td>
                    <td><input value="" name="contact" size="30"><span class="moblie_tip"></span></td>
                </tr>
                 <tr>
                    <td>联系方式：</td>
                    <td><input value="" name="contact_phone"><span class="linkman_tip"></span></td>
                </tr>   
               <tr>
                <td colspan="2" align="left"><input value="提交" type="submit" style="width: 100px;"></td>
                </tr>                           
            </table>
        </form>
        </div>
	</div>	
</div>
	
</div>
</body>
</html>

