
   <div class="footer" style="min-width:1347px;position: relative;">
            <ul class="footer_link clearfix">
              
                <li><a href="privacy.htm" target="_blank">隐私保护</a></li>
                <li><a href="copyright.htm" target="_blank">权利声明</a></li>
             <li><a href="disclaimer.htm" target="_blank">免责声明</a></li>
                <li class="last_link"><a href="contactus.htm" target="_blank">联系我们</a></li>
                 <li><a href="about_us.htm" target="_blank">关于我们</a></li>
            </ul>
          <ul class="hr_cpny clearfix" style="width:821px;">
            <li style="margin-right:30px;"> <a href="http://www.hrdchina.org/" style="color:#716C6C" target="_blank">
            <img src="images/hr_icon_03.jpg" width="19" height="19" />中国人力资源开发研究会</a>
            </li>
            <li style="margin-right:30px;"><a href="http://www.chnstone.com.cn/index.html" style="color:#716C6C" target="_blank">
           <img src="images/hr_icon_07.png" width="47" height="19" />  华夏基石管理咨询集团</a>
            </li>
            <li><a href="http://slhr.ruc.edu.cn/" style="color:#716C6C" target="_blank"> 
           <img src="images/rm_icon.jpg" width="19" height="19" style="margin-left:14px;" /> 中国人民大学劳动人事学院</a>
            </li>
              <li><a href="http://www.rbs.org.cn/" style="color:#716C6C" target="_blank"> 
           <img src="images/rm_icon.jpg" width="19" height="19" style="margin-left:40px;" /> 中国人民大学商学院</a>
            </li>
            <!-- <li><img src="images/rm_icon.jpg" width="19" height="19" style="margin-left:14px;" />中国人民大学商学院</li> -->
          </ul>
          <p><span>专利保护-侵权必究</span><span>©2015 probie.cn</span><span>版权所有  ICP备15000692号</span></p>
          <p><img src="images/copyright_03.jpg" width="51" height="22" /></p>
        <!-- <p style="width: 155px;float: right;position: absolute;top: 13px;right: 0px;"><img src="images/weixin_logo.jpg" style="width:100%"></p> -->
      </div> 

     
 