<script>
$(function(){
  
 
  // var userAgent = navigator.userAgent; 
  //   var isOpera = userAgent.indexOf("Opera") > -1;
    // if (userAgent.indexOf("Firefox") > -1||userAgent.indexOf("IE") > -1) {
          // var v=document.documentElement.scrollHeight-60; 
          // var v=$(window).height();
          //  $(".navi_con").css("height",v+"px") ;
          //      $(".navi_bar").css("height",v+"px") ;
    // } 
	 // else{
	 	 // var v=document.body.scrollHeight-60;
	 	 // var v=$(window).height();
	 	 //  $(".navi_con").css("height",v+"px") ;
	 	 //   $(".navi_bar").css("height",v+"px") ;
	 // }


  
})
var g_f_bind_ok = 0;
//[G_F_BIND_OK]
</script>
<div class="logo_header" style="background-color:#029774;">

 <div class="logo">
		<div class="header">
           <p><a href="/"><img src="/static/images/logo_5.png" id="header_logo"  ></a>
             <span class="header-sm">发现好工作</span> 
              </p>
          
            
			</div>
        </div>
</div>
<div style="width:100%;">
<div class="navi_con">

	<div class="navi_bar" style="overflow-y: auto;overflow-x: hidden;width: 181px;height:100%;">
		<ul>
		<li  class="li_hover" ></li>
		<li id="show-up"><a  class="li_hover"><img src="/static/images/suoxiao.png" id="x_image"><span class="hide-up" style="font-size:12px">点击收起菜单</span></a></li>
	      <li class="li_hover " style="margin-top:10px;cursor: pointer;height:auto;" ><a id="li_tuijian3" href="/company/company_job_list" target="_self"><img src="/static/images/list1.jpg" alt="委托职位" title="委托职位"><span class="hide-up" style="font-size:14px">委托职位</span></a></li>  			
        <li class="li_hover" style="margin-top:10px;cursor: pointer;height:auto"><a id="li_tuijian2" href="/company/job_cv_list" target="_self"><img src="/static/images/shouqu.png" alt="候选人推荐" title="候选人推荐"><span class="hide-up" style="font-size:14px">候选人推荐</span></a></li>  

        <li class="li_hover " style="margin-top:10px;cursor: pointer;height:auto;"><a id="li_tuijian3" href="/company/post_cv_list" target="_self"><img src="/static/images/shouqu.png" alt="直投简历" title="直投简历"><span class="hide-up" style="font-size:14px">直投简历</span></a></li>  
        <!-- <li class="li_hover" style="margin-top:10px;cursor: pointer;height:auto"><a  href="verify.htm" target="_self"><img src="/static/images/renzheng.png" alt="企业认证" title="企业认证" style="margin-top:15px;" /><span class="hide-up" style="font-size:14px">企业认证</span></a></li>   -->


	
	</div>
</div>	


<script>
var s_need_show = '[!ko]';

// Need to show it
if(s_need_show.length)
{
	$("#" + s_need_show).show();
}
</script>
