<!DOCTYPE html>
<html lang="zh"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>招聘头条 - 激活账号</title>
<link rel="icon" href="images/logo_tiny.png" type="image/x-icon">
    <script type="text/javascript" src="/static/js/jquery-1.91.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/fget_pass.css?v=2015121609">
    <link rel="stylesheet" href="/static/css/header.css?v=2015121019"/>
      <link rel="stylesheet" href="/static/css/index.css?v=2015121019"/>
    
  <script src="/static/js/layer/layer.js"></script>
   <meta name="Description" content="招聘头条，职位搜索引擎，一站式搜索全网招聘职位，一站式比较全网高薪职位，一站式投递全网优质工作，一站式订阅全网意向职位，是一款基于大数据智能算法的求职神器。"/> 
<meta name="keywords" content="招聘头条,聪明你的求职,职位搜索引擎" />
<script>
window.onload = function()
{
    document.getElementById("email").focus();
}
$(function(){
    $("input").focus(function(){
        $(this).css("border","1px solid #029774")
    })
    $("input").blur(function(){
        $(this).css("border","1px solid #ccc")
    })
})
</script>
</head>
<body>
<div class="body_con">
<div class="logo_con">
      <div class="logo">
        <div class="header">
            <p><a href="/"><img src="/static/images/logo_5.png" style=" width: 150px" ></a><span class="header-sm">聪明你的求职</span></p>
           
         
            </div>
        </div>
</div>
<div class="detail_middle">
        <h1 style="font-size:16px">请设置密码激活账号</h1>
        <div class="sign_box clearfix">
                <div class="sign_left">
                  <!-- 绑定邮箱 -->
                   <form id="Form1" name="Form1" method="post" action="#" onsubmit="return check_pwd()">
                        <input type="hidden" name="company_user_id" value="{{ company_user_id }}">
                        <div class="sign_form">
                            <ul>
                                <li class="clearfix">
                                    <div class="w99"><span>*</span>设置密码</div>
                                    <div class="input_box"><input type="password" name="password" id="pwd" placeholder="请设置密码（至少6位数字或字母）" class="sign_up_input_mail" maxlength="60" style="width:242px"></div>
                                    <div class="item-tip"></div>
                                    <div class="clear"></div>
                                </li>
                                <li class="clearfix"  id="login_in">
                                    <div class="w99" ><span>*</span>确认密码：</div>
                                    <div class="input_box">
                                        <div class="input_box"><input type="password" name="confirm_password" id="repwd" placeholder="请输入确认密码" class="sign_up_input_mail" maxlength="60" style="width:242px"></div>
                                    </div>
                                    <div class="item-tip"></div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                
                                    <div class="w99">&nbsp;</div>
                                    <div class="input_box">
                                        <input type="submit" value="激活账号" class="sign_up_but_sign" style="width: 290px;border:none">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        </form> 
                        <!-- 成功 -->
                        <div class="success_email" style="display: none;">已经成功发送邮件，请登录邮箱修改密码！</div>
                    </div>
                    <!-- 注册表单 结束 -->
    
                    <div class="sign_right">
                        <div class="fast_login" style="border:0;">
                            <!-- 广告语 -->
                           <p><img src="/static/images/m1.png"><span><span style="color: red;font-weight: bold;top: 1px;left: 0px;margin-right: 3px;font-size: 22px;">1800万</span>份简历人才库</span></p>
                           <p><img src="/static/images/m4.png"><span>资深招聘顾问<span style="color:red;font-weight:bold;top: 1px;left: 2px;margin-right: 3px;font-size: 22px;">7*10</span>小时专业服务</span></p>
                           <p><img src="/static/images/m2.png"><span style="color: red;font-weight: bold;margin-right: 3px;font-size: 22px;">精准招人、迅速招人</span></p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div style="width:100%;text-align:center">
                    <ul class="sign_shuoming">
                        <li>如需任何帮助，请咨询招聘头条网客户服务部  电话：010-58752828-819/15311999904，QQ：83663131  邮箱：zhaopincat@163.com  其它问题请及时反馈给我们。</li>
                    </ul>
                </div>  
                </div>
                            
            </div>
        </div>
    



<script type="text/javascript">
<script type="text/javascript">
 function check_pwd() {
    var pwd =  $.trim($("#pwd").val());
    var repwd = $.trim($("#repwd").val());
    if(pwd == "")
    {
        //alert("密码不能为空！");
         layer.alert('密码不能为空！', {
                     title: '提示',
                })
        return false;
    }
    if(pwd.length <6)
    {
       // alert("密码不能小于六位数！");
        layer.alert('密码不能小于六位数！', {
                     title: '提示',
                })
        return false;
    }

    if(pwd != repwd)
    {
        //alert("新密码和确认密码不一致！");
        layer.alert('新密码和确认密码不一致！', {
                     title: '提示',
                })
        return false;
    }
    return true;

 }
</script>
</body></html>